<!DOCTYPE html>

<html>
    <head>
        {% block js_include %}{% endblock %}
        <title>Study Hero | {% block title %}Page missing{% endblock %}</title>
        <script>
            {% block js %}{% endblock %}
        </script>
    </head>
    <body>    
        {% if message %}
            <span
                {% if message.css_class %}
                    class="{{ message.css_class }}"
                {% else %}
                    style="display: table; margin: 0 auto; text-align: center; color: {{ message.colour }};"
                {% endif %}
            >
                {{ message.text }}
            </span>
        {% endif %}
        <div>
            {% block body %}{% endblock %}
        </div>
        <hr />
        <a href="/studyhero/">home</a> |
        {% if user.is_authenticated %}
            <a href="/studyhero/new-subject/">create subject</a> | <a href="/studyhero/create-cards/">create cards</a> | <a href="/studyhero/logout/">logout</a>
        {% else %}
            <a href="/studyhero/register/">register</a> | <a href="/studyhero/login">login</a>
        {% endif %}
    </body>
</html>
