<!DOCTYPE html>

<html>
    <head>
        {% block js_include %}{% endblock %}
        <title>Study Hero | {% block title %}Page missing{% endblock %}</title>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; ++i) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie("csrftoken");
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            {% block js %}{% endblock %}
        </script>
    </head>
    <body>    
        {% if message %}
            <span
                {% if message.css_class %}
                    class="{{ message.css_class }}"
                {% else %}
                    style="display: table; margin: 0 auto; text-align: center; color: {{ message.colour }};"
                {% endif %}
            >
                {{ message.text }}
            </span>
        {% endif %}
        <div>
            {% block body %}{% endblock %}
        </div>
        <hr />
        <a href="/studyhero/new-subject/">create subject</a> | <a href="/studyhero/create-cards/">create cards</a> | <a href="/studyhero/">home</a>
    </body>
</html>
