{% extends 'base.html' %}
{% include static %}

{% block title %}Index{% endblock %}

{% block js %}
function updateCards() {
    var cardList = $('#cardlist');
    $.getJSON("/studyhero/rest/card/", { }, function(data, jqXHR) {
        cardList.empty();
        for (var i = 0; i < data.length; ++i) {
            cardList.append(buildCard(data[i].pk, data[i].fields, data[0].time_distance));
        }
        heading = "Next card";
        if (data.length != 1) {
            heading += "s";
        }
        $('#cardheader').html(heading);
    });
}

function buildCard(pk, card, timeDistance) {
    return "<li>" + card.title + " <br />(" + card.points + " points) <br />Due in " + timeDistance + ' days <br /><button onclick="clearCard(' + pk + ');">Done</button></li>';
}

function clearCard(id) {
    $.ajax({
        type:           "DELETE",
        url:            "/studyhero/rest/card/",
        data:           '{ "id": "' + id + '" }',
        ContentType:    "application/json",
    });
    updateCards();
}

window.onload = updateCards;
{% endblock %}

{% block js_include %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block body %}<h1>Study Hero index</h1>
{% if subjects %}
    <h3 id="test">Current subjects</h3>
    <ul>
    {% for subject in subjects %}
        <li>{{ subject }} (<a href="/studyhero/delete-subject/?name={{ subject }}">x</a>)</li>
    {% endfor %}
    </ul>
{% endif %}
<hr />
<h3 id="cardheader"></h3>
<ul>
</ul>
<hr />
<ul id="cardlist">
</ul>
<button onclick="updateCards()">Refresh</button>
{% endblock %}