{% extends 'base.html' %}
{% include static %}

{% block title %}Index{% endblock %}

{% block js %}
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; ++i) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie("csrftoken");
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    function updateCards() {
        var cardList = $('#cardlist');
        $.getJSON("/studyhero/rest/cards/", { }, function(data, jqXHR) {
            cardList.empty();
            for (var i = 0; i < data.length; ++i) {
                cardList.append(buildCard(data[i].pk, data[i].fields, data[0].time_distance));
            }
            var heading = "Next card";
            if (data.length != 1) {
                heading += "s";
            }
            $('#cardheader').html(heading);
            $('#heading').html(data[0].points + " points | " + data[0].multiplier + "x");
        });
    }

    var COLOURS = {
        "Red":      "danger",
        "Yellow":   "warning",
        "Green":    "success",
        "Blue":     "info",
    };
    
    function buildCard(pk, card, timeDistance) {
        console.log(COLOURS["Red"]);
        tag = '<div class="panel panel-' + COLOURS[card.colour] + '"><div class="panel-heading">' + card.title + '</div><div class="panel-body"><h4>' + card.points + ' points</h4>';
        tag += (timeDistance > 0) ? ('Due in ' + timeDistance) : ('Overdue by ' + (-timeDistance));
        tag +=  ' day';
        tag += (timeDistance == 1 || timeDistance == -1)?(''):('s');
        tag += '<br /><br /><button onclick="clearCard(' + pk + ');">Done</button></div></div>';
        return tag;
    }

    function clearCard(id) {
        $.ajax({
            type:           "DELETE",
            url:            "/studyhero/rest/cards/",
            data:           '{ "id": "' + id + '" }',
            ContentType:    "application/json",
        });
        updateCards();
    }

    window.onload = updateCards;
{% endblock %}

{% block body %}
<h1 id="heading">Study Hero index</h1>
{% if subjects %}
    <h3 id="test">Current subjects</h3>
    <ul>
    {% for subject in subjects %}
        <li>{{ subject }} (<a href="/studyhero/delete-subject/?name={{ subject }}">x</a>)</li>
    {% endfor %}
    </ul>
{% endif %}
<hr />
<h3 id="cardheader"></h3>
<ul>
</ul>
<hr />
<div id="cardlist">
</div>
<button onclick="updateCards()">Refresh</button>
{% endblock %}